dist: trusty
sudo: false
language: cpp

matrix:
  include:
    # GCC 4.9
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env: MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

    # Clang 3.8
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.8
          packages:
            - clang-3.8
      env: MATRIX_EVAL="CC=clang-3.8 && CXX=clang++-3.8"

before_install:
  - sudo add-apt-repository -y ppa:samuel-bachmann/boost
  - sudo apt-get -y -d update
  - eval "${MATRIX_EVAL}"
install:
  - sudo apt-get -y install libboost-date-time1.60-dev
script:
  - bin/fetch-configlet
  - bin/configlet lint .
  - cmake -G "Unix Makefiles"
  - make

