name: Hello World

# TODO: Run on all platforms

on:
  push:
    branches:
    - master
    paths:
    - 'exercises/hello-world/*'
    - 'bin/check-hello-world.sh'
  pull_request:
    branches:
    - master
    paths:
    - 'exercises/hello-world/*'
    - 'bin/check-hello-world.sh'

jobs:
  hello-world-fails:
    name: Hello World Fails
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - name: Check Hello World Fails
      run: bin/check-hello-world.sh
      env:
        CXX: ${{ matrix.compiler }}
